{% extends 'store/base.html' %}
{% load static %}
{%block 'css'%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block 'content'%}
<div class="container-fluid">
  <div class="row my-5 mx-5">
    <div class="col-lg-6" style="margin-bottom: 250px;">
      <div class="box-element" id="form-wrapper">
        <form id="form">
          <div id="user-info">
            <div class="form-field">
              <input type="text" required class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-field">
              <input type="text" required class="form-control" name="email" placeholder="Email">
            </div>
      
          </div>
          <div id="shipping-info">
            <div class="form-field">
              <input type="text" required class="form-control" name="address" placeholder="Address">
            </div>
            <div class="form-field">
              <input type="text" required class="form-control" name="city" placeholder="City">
            </div>
            <div class="form-field">
              <input type="text" required class="form-control" name="state" placeholder="State">
            </div>
            <div class="form-field">
              <input type="text" required class="form-control" name="zipcode" placeholder="Zipcode">
            </div>
      
          </div>
          <hr>
          <input type="submit" id="form-button" class="btn btn-success btn-block" value="continue">
        </form>
      
      </div>
      <hr>
      <div class="box-element hidden"  id="payment-info">
        <small>Payment Option </small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box-element">
        <a href="{% url 'cart'%}" class="btn btn-outline-dark">&#8594; Back to cart</a>
        <hr>
        <h3>Order Summary</h3>
        <hr>
        <div class="cart-row">
          <div style="flex: 2;"><img width="100px" src="{% static 'images/placeholder.png' %}"></div>
          <div style="flex: 2;"><p>product 1</p></div>
          <div style="flex: 1;"><p>50sh</p></div>
          <div style="flex: 1;"><p>x2</p></div>
       </div>
       <h5>Items: 2</h5>
       <h5>Items: 4sh</h5>
    
      </div>
  </div>
</div>


{% endblock 'content' %}


