{% extends 'store/base.html' %}
{% load static %}
{% block 'css'%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock 'css' %}

{% block 'content' %}
<div class="header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5">
               <h1>Welcome to shopping landing page</h1>
               <p>succss is about consistency not greateness.<br> consistent hardwork gains success</p>
               <a href="" class="btn">Explore now  &#8594;  </a>
            </div>
            <div class="col-lg-6">
               <img src="{% static 'images/image1.png' %}" width="100%">        
           </div>
        </div>
    </div>
</div>

 <div class="container">
    <h2 class="title mt-5">Featured Products</h2>
    <div class="row">
       
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="{% static 'images/product-1.jpg' %}" width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="{% static 'images/product-2.jpg' %}" width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="{% static 'images/product-3.jpg' %}" width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        
    </div>
 </div>
 <div class="container">
    <h2 class="title m-5">Latest Products</h2> 
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-5.jpg' %}"width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-6.jpg' %}"width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-7.jpg' %}" width="100%">
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-8.jpg' %}" width="100%">
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-9.jpg' %}" width="100%">
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
            <p>50.00sh</p>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-10.jpg' %}"width="100%" >
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-11.jpg' %}" width="100%">
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/product-12.jpg' %}" width="100%">
            <h6 class="pt-1 text-center"><strong>product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a href="" class=" btn btn-outline-success">view</a>
            <h4 style="display: inline-block; float: right;">50sh</h4>
        </div> 
    </div>
</div>
</div>
<div class="brands">
    <h1 class="title">BRANDS</h1>
    <div class="small-container">
        <div class="row">
            <div class="col-lg-2">
                <img src="{% static 'images/logo-godrej.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'images/logo-oppo.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'images/logo-coca-cola.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'images/logo-paypal.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'images/logo-philips.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}