{% load static %}

{% block 'content'%}
<div class="container">
    <h3>Product {{ product_list|length }}</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h5>products</h5>
                        <a href="{% url 'add_product' %}" class="btn btn-success ml-auto">
                            <i class="fa fa-plus mr-2"></i>
                        Add product
                        </a>  
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Category</td>
                                <td>Image</td>
                                <td>price</td>
                                <td>Quantity</td>
                                <td>Seller</td>
                                <td>Description</td>
                                <td>created_at</td>
                                <td>updated_at</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in object_list %}
                            <tr>
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.Category}}</td>
                                <td>{{product.image}}
                               </td>
                                <td>{{product.price}}</td>
                                <td>{{product.inventory}}</td>
                                <td>{{product.seller}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.created_at}}</td>
                                <td>{{product.updated_at}}</td>
                                <td>
                                    <a href="{% url 'view_product' product.id %}" class="btn btn-outline-info btn-sm">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}